@inject IJSRuntime JSRuntime
@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col d-flex align-items-center">
                    <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                    <RadzenLabel Text="AreTheyHere" Style="margin-left: 1rem; font-size: 1.5rem; font-weight: bold;" />
                </div>
                <div class="col-auto">
                    <ThemeSwitcher />
                </div>
            </div>
        </div>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded" style="width: 250px">
        <NavMenu />
    </RadzenSidebar>
    <RadzenBody>
        @Body
    </RadzenBody>
</RadzenLayout>

<RadzenComponents />

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    bool sidebarExpanded = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("themeManager.init");
        }
    }
}
