<h3>Verify your email address</h3>
<p>Someone (hopefully you) signed up for alerts on AreTheyHere using this email address.</p>
<p>To receive alert notifications, please verify your email by clicking the link below:</p>
<p><a href='{{ VerificationLink }}'>Verify Email Address</a></p>
<p>If you didn't sign up for these alerts, you can safely ignore this email.</p>
<hr/>
<small>AreTheyHere - Know where they are.</small>
